<div class="form">
	<%=form_for @user do |f| %>
		<%= f.label "Upload a photo" %>
		<%= f.text_field :user_image, :placeholder => "Link to your photo" %>
		Who are you?
		Name:<%= f.text_field :user_name, :placeholder => "Name" %>
		Last name: <%= f.text_field :user_last_name, :placeholder => "Last Name" %>
		Add an email account
		<%= f.email_field :user_email, :placeholder => "Email" %>
		What did you study?
		<%= f.text_field :user_education, :placeholder =>"Highest level of education you have" %>
		What is your current position or which is the work you want to do?
		<%= f.text_field :user_position, :placeholder => "Programmer, Trader, Financier, Accountant..." %>
		What are ypur main skills or aptitudes?
		<%= f.text_field :user_skills, :placeholder => "PHP, Ruby, Excel, Proactive..." %>
		What do you want to be?
		<%= check_box_tag(:user_cofounder) %>
		<%= label_tag(:user_cofounder, "A CoFounder") %>
		<%= check_box_tag(:user_employee) %>
		<%= label_tag(:user_employee, "An Employee") %>
		<br>
		Add a password
		<%= f.password_field :password, :placeholder => "Password" %>
		<br>
		<%= f.submit 'Create Account', class: "btn-submit" %>
	<% end %>
</div>
