<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="form">
				<%=form_for @user, :html => {:multipart => true} do |f| %>
					<p>
					<%= f.label :background_image ,"Add a cover to your profile"%>
					<%= f.file_field :background_image %>
					</p>
					<p>
					<%=f.label :image, "Add a profile image" %>
					<%= f.file_field :image %>
					<p>
					<%= f.label :email, "Click here if you want to change your email account" %>
					<%= f.email_field :email, :placeholder => "Change your email" %>
					</p>
					<br>
					<p>
					<%= f.label :password, "Click here if you want to change your password" %>
					<%= f.password_field :password, :placeholder => "Change your password" %></p>
					<br>
					<p>
					<%= f.label :education, "What did you study?"%>
					<%= f.select :education, options_for_select(["Basic Education","High School","High Levels","Degree", "Master Degree", "Ph.D"], params[:education]),{} %>
					</p>
					<br>
					<p>
					<%= f.label :position ,"What is your current position or which is the work you want to do?" %>
					<%= f.select :position, options_for_select(["Business Intelligence", "Business Development", "Marketing & Communications", "Front-End Developer", "Back-End-Developer", "Full-Stack Developer", "Sales", "Custumer Service", "Mobile Apps Developer", "Syst. Admin", "Data Scientist"], params[:position]),{} %>
					</p>
					<br>
					<p>
					<%= f.label :cofounder, "What do you want to be?" %>
					<%= check_box_tag(:cofounder) %>
					<%= label_tag(:cofounder, "A CoFounder") %>
					<%= check_box_tag(:employee) %>
					<%= label_tag(:employee, "An Employee") %>
					</p>
					<br>
					<p>
					<%= f.submit 'Go to add skills', class: "btn-submit" %>
					</p>
				<% end %>
				<br>
			</div>
		</div>
	</div>
</div>
