<div class="container-fluid">
	<div class="row user_index">
		<% @users.each do |user| %>
	  <div class="col-sm-6 col-md-4">
	  	<div class="user_index_box thumbnail">
	      <img class="user_image_index"src="<%=user.image%>">
	      <div class="caption">
	        <h2><%=user.name%> <%=user.last_name%></h2>
	       		<div>
					<h3><%= user.education %></h3>
					<h4><%= user.position %></h4>
					<% if user.cofounder == true %>	
						<p class="alert alert-info"><%="#{user.name} is looking for opportunities in new projects" %></p>
					<% end %>
					<% if user.employee == true %>
						<p class="alert alert-info"><%="#{user.name} is looking for a job" %></p>
					<% end %>
				</div>
	      	</div>
	     <div class="btn-info"><a href="<%=user_path(user.id)%>">More info</a></div>
	    </div>
	  </div>
	  <%end%>
	</div>
</div>




