<div class="container-fluid">
	<div class="row user_index">
		<% @users.each do |user| %>
	  <div class="col-sm-6 col-md-4">
	  	<div class="user_index_box thumbnail">
	      <img class="user_image_index"src="<%=user.user_image%>">
	      <div class="caption">
	        <h3><%=user.user_name%> <%=user.user_last_name%></h3>
	       		<div>
					<p><%= user.user_education %></p>
					<p><%= user.user_position %></p>
					<p><%= user.user_skills %></p>
					<p>
					<% if user.user_cofounder == true %>	
							<%="#{user.user_name} is looking for opportunities in new projects" %>
					<% end %>
					</p>
					<p>
					<% if user.user_employee == true %>

							<%= "#{user.user_name} is looking for a job" %>

					<% end %>
					</p>
				</div>
	        <p><a href="<%=user_path(user.id)%>" class="btn btn-info btn-lg btn-block" role="button">More info</a></p>
	      </div>
	    </div>
	  </div>
	  <%end%>
	</div>
</div>




