<% if current_user.user_email == @user.user_email %>

	<h1> Welcome <%="#{@user.user_name}" %> </h1>

		<div>
			<img src=<%= @user.user_image %>>
		</div>
		<div>
			<ul>
				<li><%= @user.user_name %></li>
				<li><%= @user.user_last_name %></li>
				<li><%= @user.user_email %></li>
				<li><%= @user.user_education%></li>
				<li><%= @user.user_position %></li>
				<li><%= @user.user_skills %></li>
			</ul>
		</div>
		<section>
			<button><%= link_to('Edit profile', edit_user_path(@user.id))%></button>
			<button><%= link_to('Create project', new_project_path )%></button>
			<button> DELETE PROFILE </button>
			<button> MY PROJECTS </button>
		</section>

		<section>
			<h3> Projects that can interest you... </h3>

			<div>

				<% if @projects_found %>
					<% @projects.each do |project| %>
						<% if @user.skills_or_position_matching? project %>
								<%=project.project_name %>
						<% end %>
					<% end %>

				<% else%>
					<p> Sorry, there is no project that match with your interest or skills. You can look more projects here</p>
				<% end %>
			</div>
		</section>

<% else %>


			<img src=<%= @user.user_image %>>

		<div>

			<ul>


				<li><%= @user.user_name %></li>
				<li><%= @user.user_last_name %></li>
				<li><%= @user.user_email %></li>
				<li><%= @user.user_education%></li>
				<li><%= @user.user_position %></li>
				<li><%= @user.user_skills %></li>

			</ul>

		</div>

<% end %>






