<% if current_user.email == @user.email %>
<br>
<br>
<div class="container-fluid">
    <div class="row">
      <div class="fb-profile col-md-12 col-sm-12 col-xs-12">
        <img class="fb-image-lg" src="<%=@user.background_image_url.to_s%>">
      </div>
      <div class="row fb-profile-text">
        <div class="col-md-3 col-sm-12 col-xs-12">
        <img align="center" class="fb-image-profile thumbnail circular" src="<%=@user.image_url.to_s%>">
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <h1><%=@user.name%> <%=@user.last_name %></h1>
              <h2><%=@user.position%></h2>
        </div>
      <div class="profile-menu-box">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <div align="center">
              <a href="<%=edit_user_path(current_user.id)%>" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/> Update profile</a>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
          <div align="center">
              <a href="<%= new_user_project_path(current_user.id)%>" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>Create new project</a>
          </div>
        </div>
      <div class="col-md-2 col-sm-12 col-xs-12">
          <div align="center">
              <a href="<%=user_projects_path(current_user.id)%>" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>My projects</a>
           </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="sections-box">
      <div class= "row col-md-12 col-sm-12 col-xs-12">
        <div class="education-section">
            <h2 class="section-title"> Studies </h2>
                <h3><%= @user.education%></h3>
        </div>
      </div>
      <div class= "row col-md-12 col-sm-12 col-xs-12">
        <div class="skills-section">
          <h2 class="section-title">Skills</h2>
                <%@user.skills.each do |skill|%>
                    <h3 class="btn-skill"><%=skill.name%></h3>
                <%end%>
          </div>
        </div>            
      </div> 
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="sections-box">
    <div class="section-title">
      <h3>Projects that can match with you...</h3>
    </div>
    <%if @projects_found %> 
    <div class="row matching-projects-section">   
          <%@user_projects.each do |project| %>       
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="matched-projects-box">
          <div class="thumbnail matched">
            <img src="<%=project.image%>">
            <div class="caption">
                <h3><%=project.name%></h3>
                <h4><%=project.position%></h4>
                <div>
                  <%=link_to('More info',project_path(project.id), class: "btn-info col-md-12")%> 
                </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
   </div>
   <%else%>
   <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="alert alert-danger"> Sorry, there is no projects that match with your interest or skills. You can look more projects here</h3>
  </div>
    <%end%>
  </div>
</div> <!-- /container -->  		
<% else %>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 fb-profile">
        <img align="left" class="fb-image-lg" src="<%=@user.background_image_url.to_s%>"/>
        <img align="left" class="fb-image-profile thumbnail circular" src="<%=@user.image%>"/>
      <div class="fb-profile-text">
          <h1><%=@user.name%> <%= @user.last_name %></h1>
            <h2><%= @user.position %></h2>
          <div class="btn sendEmail btn-primary btn-lg" role="button">Send email</div>
  </div>
      </div>
    </div>  
  </div> 
  <div class="row">          
    <div class="col-md-12 col-sm-12 col-xs-12">
        <%if @user.cofounder %>
          <div class="alert alert-info">
              <%="#{@user.name} is looking for opportunities as a cofounder"%>
          </div>
        <%elsif @user.employee %>
          <div class="alert alert-info">
              <%="Maybe, #{@user.name} is looking for opportunities as employee"%>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="education-section">
          <h2 class="section-title"> Studies </h2>
              <h3><%= @user.education%></h3>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="skills-section">
          <h2 class="section-title">Skills</h2>
              <%@user.skills.each do |skill|%>
                  <h3 class="btn-skill"><%=skill.name%></h3>
              <%end%>
        </div>
      </div>
  </div>
</div> <!-- /container -->  
<% end %>






