<div>

	<img src=<%= @user.user_image %>>

<div>

<div>

	<ul>


	<li><%= @user.user_name %></li>
	<li><%= @user.user_last_name %></li>
	<li><%= @user.user_email %></li>
	<li><%= @user.user_education%></li>
	<li><%= @user.user_position %></li>
	<li><%= @user.user_skills %></li>

	</ul>
</div>



