<div class="container-fluid">
	<div class="form">
		<%=form_for [@user, @project] do |f| %>
			<%= f.text_field :image, :placeholder => "Introduce a photo link"%>
			<br>
			<%= f.text_field :name, :placeholder => "Name of your project" %>
			<br>
			<%= f.select :position, options_for_select(["Business Intelligence", "Business Development", "Marketing & Communications", "Front-End Developer", "Back-End-Developer", "Full-Stack Developer", "Sales", "Custumer Service", "Mobile Apps Developer", "Syst. Admin", "Data Scientist"], params[:position]),{} %>
			<br>
			<%= text_field_tag :skill, nil, :placeholder => "PHP, Ruby, English, HTML5, SEO..." %>	
			<br>
			<p>What do you need for your project/startup?</p>
			<%= check_box_tag(:cofounder) %>
			<%= label_tag(:cofounder, "A CoFounder") %>
			<%= check_box_tag(:employee) %>
			<%= label_tag(:employee, "An employee") %>
			<%= f.submit 'Publish your project', class: "btn-submit" %>
		<% end %>
	<div>
</div>
