<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<%@projects.each do |project| %>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="thumbnail project_index_box">
			   <img src="<%=project.image%>">
				<div class="caption">
			   		<h2><%=project.name%></h2>
			       		<div>
							<h3><%= project.position %></h3>
								<% if project.cofounder == true %>	
									<p class="alert alert-info"><%="#{project.name} is looking for a cofounder" %></p>
								<% end %>
								<% if project.employee == true %>
									<p class="alert alert-info"><%= "#{project.name} is looking for a worker" %></p>
								<%end%>
		        		<div class="btn-info col-md-12 col-sm-12 col-xs-12"><a href="<%=project_path(project.id)%>"  role="button">More info</a>
		        		</div>
			    	 </div>
			  	</div>
			</div>
		</div>
		<%end%>
	</div>
</div>

