<br>
<br>
<div class="container-fluid">
	<div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
      	<img align="left" class="fb-image-lg" src="<%=@project.image%>"/>
  	</div>
  </div>
  <div class="row">
    <div class="box-1-project col-md-6 col-sm-12 col-xs-12">
        <h1><%=@project.name %></h1>
          <h2><%= @project.position %></h2>
          <br>
          <div class="btn btn-sendEmail sendEmail">Connect</div>
    </div> 
  </div>
  <br>
  <div class="row">          
    <div class="col-md-12 col-sm-12 col-xs-12">
        <%if @project.cofounder %>
          <div class="alert alert-info">
              <%="#{@project.name} is looking for a cofounder"%>
          </div>
        <%elsif @project.employee %>
          <div class="alert alert-info">
              <%="#{@project.name} is currently looking for talents"%>
          </div>
        <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="skills-section">
        <h2 class="section-title">Skills</h2>
          <%@project.skills.each do|skill| %>
          <div class="btn-skill">
            <h4><%=skill.name%></h4>
          </div>
          <%end%>
      </div>
    </div>
  </div>
</div>
