	<div class="container-fluid">
		<div class="row">
			<% @user.projects_created.each do |project| %>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img src="<%=project.image%>">
		      <div class="caption">
		        <h3><%=project.name%></h3>
		       		<div>
						<p><%= project.name %></p>
						<p><%= project.position %></p>
						<p><%= project.skills.name %></p>

						<% if project.cofounder == true %>
								
								<%="#{project.name} is looking for a cofounder" %>
						<% end %>
						</p>
						<p>
						<% if project.employee == true %>

								<%= "#{project.name} is looking for a worker" %>

						<% end %>
						</p>
					</div>
		        <p><a href="<%=project_path(project.id)%>" class="btn btn-primary" role="button">More info</a> <a href="#" class="btn btn-default" role="button">Connect</a></p>
		      </div>
		    </div>
		  </div>
		  <%end%>
		</div>
	</div>