<br>
<br>
<div class="container-fluid">
	<div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
      	<img class="img-lg" src="<%=@course.image%>">
  	</div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
          <h1><%=@course.name %></h1>
          <h2><%=@course.date%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
       <p><%=@course.description%></p>
    </div>
  </div>
  <div class="row">
    <div align="center" class="col-md-12 col-sm-12 col-xs-12 link-to-website">
           <a href="<%=@course.url%>" class="btn-info" role="button">Link to website</a>
    </div>
  </div>
</div>

