<section class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="site_main_image carousel-inner" role="listbox">
			    <div class="item active">
			      <img  src="http://www.mmxstudio.net/wp-content/uploads/2012/02/coworking-1.jpeg">
			      <div class="carousel-caption">
			      </div>
			    </div>
			     <div class="item">
			      <img  src="https://social.bolzter.com/media/campaigns/0000000786/20141223034345_axis-space-coworking-office1.JPG" >
			    </div>
			       <div class="item">
			      <img  src=" http://guiadoestudante.abril.com.br/blogs/melhores-faculdades/files/2012/05/BMW-Designer-Sketching-lg1.jpg" >
			    </div>
			    <div class="item">
			      <img  src="http://www.tendencias21.net/photo/art/grande/7064490-10813399.jpg?v=1412919868" >
			    </div>
			  	</div>
			  <div class="main-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1>
                        Welcome to CoFounders</h1>
                    <h3>
                       Ready to create?
                    </h3>
                    <div>
                        <a class="btn btn-slide btn-clear" href="<%=login_path%>">Login</a><a class="btn btn-slide btn-clear"
                            href="<%=signup_path%>">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
			  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
  </div>
</section>

<section class="container-fluid intro_section sections_separation">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h1> We match great ideas with awesome candidates to help startups and entrepreneurs to kickstart their projects </h2>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 projects_home_display">
			<h2>Projects and startups looking for candidates...</h2>
			<% @projects.each do |project| %>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<a href="<%=project_path(project.id)%>"><img class="project_home_image" src='<%= project.image %>' alt="Click to know more about this project"></a>
					<p><%=project.name%></p>
			   	</div>
			<% end %>
		</div>
	</div>
</section>


<section id="carousel">    				
	<div class="container sections_separation">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
				  <!-- Carousel indicators -->
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
				    	<img class="round" src="<%=@users.find(1).image%>">
				    	<blockquote>
				    		<p>It is the best way to get the partner you need to kick-start your projects</p>
				    	</blockquote>
				    </div>
				    <div class="item">
				    	<img class="round" src="<%=@users.find(2).image%>">
				    	<blockquote>
				    		<p>Thanks to CoFounders, your projects will never be abandoned. You will get all the resources you need to launch them.</p>
				    	</blockquote>
				    </div>
				    <div class="item">
				    	<img class="round" src="<%=@users.find(3).image%>">
				    	<blockquote>
				    		<p>I am an IT professional who didn´t have any business idea and, but since I decided to subscribe to CoFounders, I found a world full of opportunities to put in practise my knowledges, learn new things and to connect with really interesting projects and startups.</p>
				    	</blockquote>
				    </div>
				  </div>
				</div>
			</div>							
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="row" id="video-home">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<%= video_tag "StartupWeekend.mp4", :width => "100%", :controls => true, :autoplay => true, :loop => true %>
		</div>
	</div>	
</section>
<footer class="container-fluid">
	<div class="row last-section">
    	<div class="col-md-4 col-sm-12 col-xs-12">
    		<center>
    		<br>
      		<img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle">
      		<br>
      		<h4 class="footertext">Cofounders</h4>
      		<p class="footertext">Confounders is a platform that help startups and entrepreneus to connect with the talent they need to launch their projects and businesses.</p>.<br>
      	</center>
    	</div>
    	<div class="col-md-4 col-sm-12 col-xs-12">
    		<center>
    		<br>
      		<img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle">
      		<br>
      		<h4 class="footertext">Corporate</h4>
      		<p class="footertext">Do you want to take part of this project?Thinking in investig in a high-growing startup?Please you can contact us at investors@cofounders.com. </p><br>
      		</center>	
    	</div>         
    	<div class="col-md-4 col-sm-12 col-xs-12">
    		<center>
    		<br>
      		<img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle">
      		<br>
      		<h4 class="footertext">Contact</h4>
      		<p class="footertext">If you have any suggestion or hesitation, please contact us at hi@cofounders.com. We will be more than glad to talk with you</p><br>
      		</center>	
    	</div>
	</div>
</footer>








