<section>
	
	<h1 id="letters_main_image"> CoFounders </h1>

	<img id="site_main_image" src="http://www.mmxstudio.net/wp-content/uploads/2012/02/coworking-1.jpeg">

</section> 	
	

<section>

		<% @projects.each do |project| %>

			<div class="projects_home_display">

				<a href='<%=project_path(project.id) %>'><img class="project_home_image" src='<%=project.project_image %>'></a>

				<ul class="projects_list_home">
		   			<li><%= project.project_name %></li>
		   			<li><%= project.project_position %></li>
		   		</ul>
		   	</div>

		<% end %>



</section>

<section>

	<% @users.each do |user| %>

	<div class="users_home_display">

		<img class="user_home_image round" src='<%= user.user_image %>'>

		<ul class="users_list_home">
			<li><%= user.user_name %> <%= user.user_last_name %></li>
   			<li><%= user.user_position %></li>
   		</ul>

   		<button>More about <%="#{user.user_name}" %></button>

   	</div>

	<% end %>

</section>
<section>

<!-- SECTION FOR EVENTS-->

</section>

<section>

	<!-- SECTION FOR LINKS -->

</section>

<footer>



</footer>