<!DOCTYPE html>
<html>
<head>
  <title>Cofounders</title>
  <%= stylesheet_link_tag    'application', media: 'all' %> 
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>

	 <div  class="login_menu nav">
      <% if current_user %> 
  		  <ul> 
    		  <%= current_user.user_email %> 
    		  <%= link_to "Log out", logout_path, method: "delete" %>
  			</ul> 
		<% else %> 
  			<ul> 
          <%= link_to "Login", 'login' %>
    			<%= link_to "Signup", signup_path %>
  			</ul> 
  		<% end %>  
    </div>

  <%= yield %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
